<div class="recordPage">

  <h1>All Clubs</h1>

  <div class="recordTable">
    <table class="table table-sm table-striped table-bordered table-hover">
      <thead>
        <tr>
        <td>#</td>
        <td>Name</td>
        <td>Intials</td>
        <td>Country</td>
        <td>Join Token</td>
        </tr>
      </thead>
    <tbody id="tableBody">
  	<% @clubs.each do |club| %> 
	    <tr>

      <td><p><%= club.id %></p></td> 
  	  <td><p><%= club.name %></p></td> 
  	  <td><p><%= club.initials %></p></td>
  		<td><p><%= club.country %></p></td>
      <td><p><%= new_club_link_url(club.link_token) %></p></td> 
      
      <td>
      <%= form_for(:clubs, url: '/clubs/admin') do |f| %> 
      <%= f.hidden_field :id, value: club.id %>
      <%= f.submit "Select", class: "btn" %>
      <% end %>
      </td>
      
	    </tr> 
    <% end %>
    </tbody>
  </table>

  <%= will_paginate @users %>

  </div>
</div>