<div class="recordPage">

  <h1><%= @currentClub.name %> Members</h1>

  <div class="recordTable">
    <table class="table table-sm table-striped table-bordered table-hover">
      <thead>
        <tr>
        <td>Name</td>
        <td>Username</td>
        <td>Email</td>
        <td>User Type</td>
        <td>Membership</td>
        </tr>
      </thead>
    <tbody id="tableBody">
    <% @users.each do |user| %>
      <% @clubUser = user.club_users.find_by(club: @currentClub) %> 
      <tr>

      <td><p><%= user.first_name %> <%= user.last_name %></p></td>
      <td><p><%= user.username %></p></td>  
      <td><p><%= user.email %></p></td>  
      <td><p><%= @clubUser.utype.capitalize %></p></td> 
      <td><p><%= @clubUser.membership.name %></p></td>

      <% if @currentClubUser.utype == 'admin' %>
      <% if @clubUser.utype != 'admin' %>
      <td>
      
      <%= form_for(:club_user, url: '/clubusers/delete') do |f| %>
      <%= f.hidden_field :id, value: @clubUser.id %>
      <%= f.hidden_field :first_name, value: @clubUser.user.first_name %>
      <%= f.hidden_field :last_name, value: @clubUser.user.last_name %>
      <%= f.submit "Remove", class: "btn" %>
      <% end %>
      
      </td>
      <% end %>
      <% end %>

      </tr>
      
    <% end %>
    </tbody>
  </table>

  <%= will_paginate @users %>
    
  </div>
</div>