<div class="recordPage">

  <h1>Clubs</h1>

  <div class="recordTable">
    <table class="table table-sm table-striped table-bordered table-hover">
      <thead>
        <tr>
        <td>Name</td>
        <td>Intials</td>
        <td></td>
        </tr>
      </thead>
    <tbody id="tableBody">
  	<% @clubs.each do |club| %> 
	    <tr> 

  	  <td><%= club.name %></td> 
  	  <td><%= club.initials %></td>
      <td>
        <% if session[:club_id] != club.id %>
          <%= form_for(:clubs, url: '/clubs/user') do |f| %> 
          <%= f.hidden_field :id, value: club.id %>
          <%= f.submit "Select", class: "btn" %>
          <% end %>
        <% else %>
          Current
        <% end %>
      </td>

      </tr> 
    <% end %>
    </tbody>
  </table>

  <%= link_to "Add Club", '/clubs/add'%>
  

  </div>
</div>