<div class="recordPage">

  <h1>Clubs</h1>

  <div class="recordTable">
    <table class="table table-sm table-striped table-bordered table-hover">
      <thead>
        <tr>
        <td>Name</td>
        <td>Intials</td>
        <td>User Type</td>
        <td>Membership</td>
        <td>Club Selection</td>
        <td colspan="100%">Actions</td>
        </tr>
      </thead>
    <tbody id="tableBody">

  	<% @clubs.each do |club| %>
      <% @clubUser = current_user.club_users.find_by(club: club) %> 
	    <tr> 

  	  <td><%= club.name %></td> 
  	  <td><%= club.initials %></td>
      <td><%= @clubUser.utype.capitalize %></td>
      <td><%= 
        begin
          @clubUser.membership.name
        rescue NoMethodError => e
          'None'
        end 
      %></td>
      
      <td>
        <% if current_club %>
          <% if current_club.id != club.id %>
            <%= render "/clubs/club_select", :club => club %>
          <% else %>
            Current Club
          <% end %>
        <% else %>
          <%= render "/clubs/club_select", :club => club %>
        <% end %>
      </td>

      <td class="actions">
        <%= form_for(:club_user, url: '/clubusers/update', method: :get) do |f| %> 
          <%= f.hidden_field :id, value:  @clubUser.id %>
          <%= f.submit "Update", class: "btn" %>
        <% end %>
      </td>

      <td class="actions">
        <% if @clubUser.utype != 'admin' %>
          <%= link_to 'Leave', clubusers_leave_path(:club_user => { id: @clubUser.id, club_id: club.id, club: club.name}), method: :post, :data => { confirm: 'Are you sure you want to leave '+club.name+'?' }, class: "btn" %> 
        <% else %>
          Admin can not leave
        <% end %>
      </td>



      </tr> 
    <% end %>

    <% if @clubs.length == 0 %>
      <tr><td colspan="100%"><p>To join a club use the link emailed to the club creator.</p></td></tr>
    <% end %>

    </tbody>
  </table>

  <%= will_paginate @users %>

  <%= link_to "Add Club", '/clubs/add'%>
  
  </div>
</div>