<div class="recordPage">

  <h1>All Memberships</h1>

  <div class="recordTable">
    <table class="table table-sm table-striped table-bordered table-hover">
      <thead>
        <tr>
        <td>#</td>
        <td>Name</td>
        <td>Club</td>
        <td>Launch Fee</td>
        <td>Aerotow Fee 2000ft</td>
        <td>Aerotow Fee /1000ft >2000ft</td>
        <td>Soaring Fee</td>
        </tr>
      </thead>
    <tbody id="tableBody">

    <% @memberships.each do |membership| %> 
      <tr>

      <td><p><%= membership.id %></p></td>
      <td><p><%= membership.name %></p></td> 
      <td><p><%= membership.club.name %></p></td> 
      <td><p><%= number_to_currency(membership.launch_fee,:unit => "£") %></p></td>
      <td><p><%= number_to_currency(membership.aerotow_standard_fee,:unit => "£") %></p></td>
      <td><p><%= number_to_currency(membership.aerotow_unit_fee,:unit => "£") %></p></td>
      <td><p><%= number_to_currency(membership.soaring_fee,:unit => "£") %></p></td>
        
      
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= will_paginate @memberships %>

  </div>
</div>