<div class="recordPage">

  <h1><%= @club.name %> Memberships</h1>

  <div class="recordTable">
    <table class="table table-sm table-striped table-bordered table-hover">
      <thead>
        <tr>
        <td>Name</td>
        <td>mtype</td>
        <td>Winch Fee</td>
        <td>Aerotow Fee 2000ft</td>
        <td>Aerotow Fee /1000ft >2000ft</td>
        <td>Soaring Fee</td>
        </tr>
      </thead>
    <tbody id="tableBody">

  	<% @memberships.each do |membership| %> 
	    <tr>

  	  <td><p><%= membership.name %></p></td> 
  	  <td><p><%= membership.mtype %></p></td>
  		<td><p><%= number_to_currency(membership.launch_fee,:unit => "£") %></p></td>
      <td><p><%= number_to_currency(membership.aerotow_standard_fee,:unit => "£") %></p></td>
      <td><p><%= number_to_currency(membership.aerotow_unit_fee,:unit => "£") %></p></td>
      <td><p><%= number_to_currency(membership.soaring_fee,:unit => "£") %></p></td>

      <td>
      <%= form_for(:membership, url: '/memberships/delete') do |f| %> 
      <%= f.hidden_field :id, value: membership.id %>
      <%= f.hidden_field :name, value: membership.name %>
      <%= f.submit "Delete", class: "btn" %>
      <% end %>
      </td>
      
	    </tr>
    <% end %>
    </tbody>
  </table>

  <%= will_paginate @memberships %>

  <%= link_to 'Add Membership', "/memberships/add" %>

  </div>
</div>