<div class="membership">
  <div class="userContainer">
    <div class="inputForm">

    <h1>Update <%= @membership.name %> Membership</h1>

    <%= form_for(@membership,url: '/memberships/update', method: :post) do |f| %>
    <div class="field"> 
      <ul>
          <%= f.hidden_field :id, value: @membership.id %>	
      	  <li><%= f.label "Launch Fee" %></li>
          <li><%= f.text_field :launch_fee, :step => :any, :placeholder => "Launch Fee", :value => @membership[:launch_fee], :class => @status[:launch_fee] %></li>
          <li class='errorText'><%= @membership.errors[:launch_fee][0] %></li> 

          <li><%= f.label "Aerotow Fee 2000ft" %></li>
          <li><%= f.text_field :aerotow_standard_fee, :step => :any, :placeholder => "Aerotow Fee 2000ft", :value => @membership[:aerotow_standard_fee], :class => @status[:aerotow_standard_fee] %></li>
          <li class='errorText'><%= @membership.errors[:aerotow_standard_fee][0] %></li> 

          <li><%= f.label "Aerotow Fee /1000ft >2000ft" %></li>
          <li><%= f.text_field :aerotow_unit_fee, :step => :any, :placeholder => "Aerotow Fee /1000ft > 2000ft", :value => @membership[:aerotow_unit_fee], :class => @status[:aerotow_unit_fee] %></li>
          <li class='errorText'><%= @membership.errors[:aerotow_unit_fee][0] %></li> 

          <li><%= f.label "Soaring Fee" %></li>
          <li><%= f.text_field :soaring_fee, :step => :any, :placeholder => "Soaring Fee", :value => @membership[:soaring_fee], :class => @status[:soaring_fee] %></li>
          <li class='errorText'><%= @membership.errors[:soaring_fee][0] %></li> 
       </ul>
  	</div> 
  	<div class="actions"> 
      <%= f.submit "Update", class: "form-btn" %> 
  	</div> 
    <% end %>
 
    </div>
  </div>
</div>