<div class="recordPage">

  <h1>All Users</h1>
  
  <div class="recordTable">
    <table class="table table-sm table-striped table-bordered table-hover">
      <thead>
        <tr>
        <td>#</td>
        <td>Name</td>
        <td>Username</td>
        <td>Email</td>
        <td>Email Confirmed</td>
        <td>User Type</td>
        </tr>
      </thead>
    <tbody id="tableBody">
  	<% @users.each do |user| %> 
	    <tr> 
      <td><p><%= user.id %></p></td>
      <td><p><%= user.first_name %> <%= user.last_name %></p></td>
      <td><p><%= user.username %></p></td> 
  	  <td><p><%= user.email %></p></td>

      <td>
        <% if user.email_confirmed %>
          <p><%= user.email_confirmed.to_s.capitalize %></p>
        <% else %>
          <%= form_for(:user, url: '/users/send_registration_confirmation') do |f| %> 
          <%= f.hidden_field :id, value: user.id %>
          <%= f.submit "Send", class: "btn" %>
        <% end %>
        <% end %>
      </td>  
  		
      <td><p><%= user.utype %></p></td> 

      <td>
      <%= form_for(:user, url: '/users/admin') do |f| %> 
      <%= f.hidden_field :id, value: user.id %>
      <%= f.submit "Select", class: "btn" %>
      <% end %>
      </td>

	    </tr> 
	  <% end %>
    </tbody>
  </table>

  <%= will_paginate @users %>

  </div>
</div>