<div class="reset">
  <div class="userContainer">
    <div class="inputForm">

    <h1>Reset Password</h1>

    <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <ul>
      <li><%= f.label :password %></li>
      <li><%= f.password_field :password %></li>
      <li><%= f.label :password_confirmation %></li>
      <li><%= f.password_field :password_confirmation %></li>
      
      <div class="actions">
        <%= f.submit "Update Password", class: "form-btn"  %>
      </div>
    </ul>
    <% end %>

    </div>
  </div>
</div>