<div id="header-wrapper">
  <div id="header" class="containerPageHeader">

    <div id="logo">
      <h1><a href="#">FlightLogger</a></h1>
    </div>

    <div id="menu">

    <ul id="nav">
      <li class="menuChild"><a href="/" accesskey="1" title="">Homepage</a></li>
      <li class="menuChild"><a href="/demologger" accesskey="2" title="">Demo Logger</a></li>
      <li class="menuChild"><a href="#" accesskey="3" title="">About</a></li>
    </ul>

    <ul id="navClub">
      <% if current_club %>
      <li id="club-button"class="menuChild"><a accesskey="4" title=""><%= current_club.initials %></a></li>
      <% else %>
      <li class="menuChild"><a href="/clubs/user" accesskey="4" title="">Club</a></li>
      <% end %> 
    </ul>

    <ul id="navUser">
      <% if current_user %>
      <li id="user-button" class="menuChild"><a accesskey="4" title=""><%= current_user.username %></a></li>
      <% else %>
      <li class="menuChild"><%= link_to "Log In", 'login' %></li>
      <li class="menuChild"><%= link_to "Sign Up", '/users/signup' %></li>
      <% end %>  
    </ul>

    </div>

    <div class="club-menu hide">
    <div class="containerUser">
    <ul>
      <li><%= link_to "Members",'/clubs/members'%></li>
      <li><%= link_to 'Memberships', "/memberships/club" %></li>
      <li><%= link_to "Clubs", '/clubs/user' %></li>
      <li><%= link_to "Exit Club",'/clubs/del', method: "delete"%></li>
    </ul>
    </div>
    </div>

    <div class="user-menu hide">
    <div class="containerUser">
    <ul>
      <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
    </ul>
    </div>
    </div>

  </div>
</div>

