<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>FlightLogger</title>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Varela" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>

  
<!--meta http-equiv="Content-Type" content="text/html; charset=utf-8" -->
<!--meta name="keywords" content="" -->
<!--meta name="description" content="" -->

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

    
  </head>

  <body>
  	<header>
  		<table>
  			<tr>
  				<td><h3>Connection</h3></td>
  				<td></td>
          
  				<td>
            <% if current_club %>
              <h3><%= link_to current_club.initials, '/clubs/del', method: "delete" %></h3>
            <% end %>  
          </td>
            
          <% if current_user %> 
          <td>
          <% case current_user.utype when 'webadmin' %>
            <h3>WA</h3>
          <% else %>
            <h3>U</h3>
          <% end %>
          </td>

          <td><h3><%= link_to current_user.email, logout_path, method: "delete" %></h3></td>
          <% else %> 
          <td></td>
          <td><h3><%= link_to "Login", 'login' %></h3></td>
          <% end %>  
          
  			</tr>
  		</table>
  	</header>
  	
  	<nav>
  		<ul>
  			<li><%= link_to 'Home', "/" %></li>
        <li><%= link_to 'Clubs', "/clubs" %></li>
        <li><%= link_to 'Add Club', "/clubs/add" %></li>
        <li><%= link_to 'Members', "/clubs/members" %></li>
        <li><%= link_to 'User Clubs', "/clubs/user" %></li>
        <li><%= link_to 'All Memberships', "/memberships" %></li>
        <li><%= link_to 'Add Membership', "/memberships/add" %></li>
        <li><%= link_to 'Memberships', "/memberships/club" %></li>
        <li><%= link_to 'Users', "/users" %></li>
        <li><%= link_to 'All Aircraft', "/aircraft" %></li>
        <li><%= link_to 'Add Aircraft', "/aircraft/add" %></li>
        <li><%= link_to 'Club Aircraft', "/aircraft/club" %></li>
        <li><%= link_to 'User Aircraft', "/aircraft/user" %></li>
        <li><%= link_to 'Logger', "/logger" %></li>
        <li><%= link_to 'Flights', "/flights" %></li>
  			<!--li>Club Admin</li>
        <li>Web Admin</li-->
  		</ul>
  	</nav>

    <div id="header-wrapper">
      <div id="header" class="containerPageHeader">
        <div id="logo">
          <h1><a href="#">FlightLogger</a></h1>
        </div>
        <div id="menu">
        <ul id="nav">
          <li class="menuChild"><a href="/" accesskey="1" title="">Homepage</a></li>
          <li class="menuChild"><a href="#" accesskey="2" title="">Logger</a></li>
          <li class="menuChild"><a href="#" accesskey="3" title="">About</a></li>
        </ul>
        <ul id="navClub">
          <% if current_club %>
      
          <li class="club-button"><a accesskey="4" title=""><%= current_club.initials %></a></li>
      
          <% else %>
          <li class="menuChild"><a accesskey="4" title=""><%= link_to "Select Club", '/clubs/user' %></a></li>
          <% end %>  
        </ul>
        <ul id="navUser">
          <% if current_user %>
      
          <li class="user-button"><a accesskey="4" title=""><%= current_user.username %></a></li>
      
          <% else %>
          <li class="menuChild"><a accesskey="4" title=""><%= link_to "Log In", 'login' %></a></li>
          <li class="menuChild"><a accesskey="5" title=""><%= link_to "Sign Up", 'signup' %></a></li>
          <% end %>  
        </ul>
        </div>
        <div class="club-menu hide">
        <div class="containerUser">
        <ul>
          <li><%= link_to "Members",'/clubs/members'%></li>
          <li><%= link_to "Switch Club", '/clubs/user' %></li>
          <li><%= link_to "Add Club", '/clubs/add'%></li>
          <li>two</li>
        </ul>
        </div>
        </div>
        <div class="user-menu hide">
        <div class="containerUser">
        <ul>
          <li>one</li>
          <li>two</li>
          <li><a accesskey="8" title=""><%= link_to "Log Out", logout_path, method: "delete" %></a></li>
        </ul>
        </div>
        </div>
      </div>
    </div>

    <div id="flash" class="containerPageHeader">
      <div class="flash">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name %>">
            <%= msg  %>
        </div>
      <% end %>
      </div>
    </div>



    <%= yield %>

    <div id="copyright" >
      <div class="containerPage">
      <p>&copy; FlightLogger. All rights reserved.| Design by <a href="#" rel="nofollow">JNS Enterprises</a>.</p>
      </div>
    </div>

  </body>
</html>
